@import url('./components/panel.css');

.main-content {
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.main-content__inner {
  width: 1200px;
}

.typography {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}

.typography h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  margin: 40px 0 20px;
}

.typography p {
  font-size: 20px;
  margin: 35px 0;
}

.typography ul {
  list-style: none;
  line-height: 1.5;
  margin: 20px 0 20px 30px;
  padding-left: 35px;
}

.typography ul li {
  font-size: 20px;
  margin: 35px 0;
}

.typography ul li::before {
  content: '';
  width: 10px;
  height: 10px;
  background: #3dc2cf;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 10px 0 0 -30px;
}

.typography a {
  color: #031927;
  text-decoration: underline;
  text-decoration-color: #3dc2cf;
  transition: color 0.25s, background 0.25s;
}

.typography a:hover {
  color: #3dc2cf;
  text-decoration-color: #3dc2cf;
}

.typography .cta-block__link {
  color: #444;
  display: block;
  margin: 10px 0;
  padding: 4px 0;
  transition: color 0.25s;
  text-decoration: none;
}

.typography span {
  font-weight: 600;
}

.cta-block__link__inner {
  display: flex;
  align-items: center;
}

.cta-block__link .label {
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 2.67px;
  line-height: 1;
  text-transform: uppercase;
}

.cta-block__link i {
  margin-left: 8px;
}

@media (max-width: 992px) {
  .main-content__inner {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .typography h2 {
    font-size: 26px;
  }

  .typography p {
    font-size: 16px;
  }

  .typography ul li {
    font-size: 16px;
  }
}
