header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-primary);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

header .navbar ul {
  list-style: none;
}

.navbar__list li {
  position: relative;
  float: left;
}

.navbar__list li a {
  font-size: 20px;
  padding: 20px;
  color: #fff;
  display: block;
  text-decoration: none;
  letter-spacing: 3.1px;
  position: relative;
}

.navbar__list li a:hover,
.navbar__list li a:focus {
  background: #2c5773;
}

.navbar__list li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: 0.4s ease-out;
}

.navbar__list li a:focus::after,
.navbar__list li a:hover::after {
  left: 0;
  width: 100%;
}

.navbar__list li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: var(--bg-primary);
  display: none;
}

.navbar__list li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar__list li:focus-within > ul,
.navbar__list li:hover > ul {
  display: initial;
}

.logo {
  width: 50px;
  padding: 10px;
}

.logo img {
  width: 200px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: transform 0.2s ease;
}

@media (max-width: 992px) {
  body {
    overflow-x: hidden;
  }

  header {
    padding: 20px;
  }

  header .navbar {
    position: absolute;
    padding: 10px;
    right: 0;
    background: var(--bg-primary);
  }

  .navbar__list li {
    width: 100%;
  }

  .navbar__list li ul {
    position: relative;
    width: 100%;
  }

  .navbar__list li ul li {
    background: var(--bg-primary);
    filter: brightness(1.25);
  }

  .navbar__list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    padding: 30px;
    background: var(--bg-primary);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .navbar__list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

@media (max-width: 540px) {
  .navbar__list {
    top: 18vh;
    width: 50vw;
    height: 100vh;
  }

  .navbar__list li a {
    font-size: 14px;
    padding: 14px 0;
  }
}

.navbar__list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
  transition: transform 0.2s ease;
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
  transition: transform 0.2s ease;
}
