@import url('./header.css');
@import url('./articles.css');
@import url('./footer.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-primary: #031927;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.panel {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url('../images/pexels-nuclear.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.panel__description {
  position: absolute;
  bottom: 40%;
  width: 40%;
  color: #031927;
  padding: 0 20px;
}

.panel__description h2 {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 48px;
  font-size: 3rem;
}

.panel__description p {
  font-size: 24px;
}

section {
  margin: 0 auto;
}

@media screen and (max-width: 840px) {
  .panel__description {
    bottom: 50%;
    width: 60%;
  }
}

@media screen and (max-width: 680px) {
  .panel__description {
    /* bottom: 50%; */
    width: 90%;
  }
}
